{% extends "base.html" %}
{% block head %}

<title>Book Store</title>
{% endblock %}

{% block body %}

<h1 id="top">Manager Control Panel</h1>

<div class="topnav">
    <a class="active" href="/managerAdd">Add Manager</a>
    <a href="/bookAdd">Add Book</a>
    <a  href="/customerMana">Customer Manage</a>
    <a href="/bookMana">Book Manage</a>
    <a href="/stat">Statistic</a>
</div>

<div class="login">

<form action='/managerAdd' method="POST">
    <h3>Manager ID: <input type="text" name="managerId"></h3>
    <h3>Manager Name: <input type="text" name="managerName"></h3><br>
    <input class="button" type="submit" value="Add">
</form>
</div>
<br>
<div class="toIndex"><form action='/' ><input class="button" type="submit" value="Logout"></form></div>

{% for manager in managers %}
<p>ManagerID:{{ manager.ManagerId }} <br>ManagerName:{{ manager.ManagerName }}</p>
{% endfor %}

{% endblock %}
