{% extends "base.html" %}
{% block head %}

<title>Book Store</title>
{% endblock %}

{% block body %}

<h1 id="top">Book Manage</h1>

<div class="topnav">
    <a href="/managerAdd">Add Manager</a>
    <a href="/bookAdd">Add Book</a>
    <a href="/customerMana">Customer Manage</a>
    <a class="active" href="/bookMana">Book Manage</a>
    <a href="/stat">Statistic</a>
    
</div>
<br>

<div class=bookinfo>
    <form action='/stat' method="POST">
        <h3 style="color: white;">Top <input class=topn type="numer" name="toppop" value=1> Popular 
            <input class="viewbutton" type="submit" value="Submit"></h3>
    </form>
</div>
<br>


<div class="allBook"> 
    <div class="eachbook"></div><br>
    
        <div class="eachbook">
            <h2 id='eachb'>Top {{toppop}} Most Popular Book(s):</h2>
            {%for order in popordersb%}
            <h3 id='eachb'>
                Title:{{order.title}}
            </h3> 
            {%endfor%}    
        </div>
    
</div>
<br>
<br>
<br>
<div class="toIndex"><form action='/' ><input class="viewbutton" type="submit" value="Logout"></form></div>


{% endblock %}
